body {
  padding-top: 75px;
}

h1, h2, h3 {
  font-family: 'Share Tech Mono', monospace;
}

p {
  font-family: 'Share Tech', sans-serif;
}

/* TOP BAR */

.top-bar {
  font-family: 'Share Tech Mono', monospace;
  color: #C8D804;
  text-decoration: none;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
  height: 75px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BOTTOM BAR */

.navbar {
  font-family: 'Share Tech Mono', monospace;
  height: 75px;
  padding: 0 10px 0 10px;
  font-size: 26px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #C8D804;
  text-decoration: none;
}

.navbar a.active {
  color: #F6E302;
}

/* HOME */

.banner {
  background-color: #25097D;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techtonikah {
  font-size: 60px;
  color: #C8D804;
}

.menu-items {
  display: flex;
}

.menu-item {
  text-decoration: none;
  font-size: 26px;
  color: #C8D804;
}

.menu-item:hover {
  color: #F6E302;
}

/* TYPING EFFECT */

.typewriter h2 {
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/* MEDIA QUERY */

/* @media (min-height: 845px) {
  .techtonikah {
    font-size: 100px;
  }
} */
