/*
Alternative fonts:
  font-family: 'Share Tech Mono', monospace;
  font-family: 'Share Tech', sans-serif;
*/

body {
  font-family: 'VT323', monospace;
  background-color: #000;
  color: #06F108;
  font-size: 18px;
  margin-bottom: 75px; /* so the text wont be hiding behind the fixed navbar */
  text-align: justify;
}

.windows-layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* HOME */

.banner {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.wide-screen {
  background-image:url(./assets/home-banner.png);
  background-size: cover;
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.text-boxes {
  margin: 20px;
}

.techtonikah {
  font-size: 80px;
}

.menu-items {
  display: flex;
}

.menu-item {
  text-decoration: none;
  font-size: 1em;
  color: #06F108;
}

.menu-item:hover {
  background-color: #06F108;
  color: #000;
}

/* TYPING EFFECT */

.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid #06F108; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #06F108 }
}

/* TOP BAR */

.top-bar {
  background-color: #000;
  position: sticky;
  text-align: center;
  top: 0px;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar a {
  color: #06F108;
  text-decoration: none;
  font-size: 32px;
}

.top-bar a:hover {
  color: #000;
  background-color: #34459C;
}

/* BOTTOM BAR */

.navbar {
  background-color: #000;
  height: 75px;
  padding: 0 10px 0 10px;
  font-size: 28px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #06F108;
  text-decoration: none;
}

.navbar a.active {
  color: #000;
  background-color: #34459C;
}

.navbar a:hover {
  color: #000;
  background-color: #34459C;
}

/* FORMS */

.form-field {
  background-color: black;
  border-color: #06F108;
  color: #06F108;
}

.form-button {
  background-color: #06F108;
  font-size: 20px;
}

/* RETRO WINDOW */

.retro-window {
  border: solid #06F108;
  width: 35%;
}

.retro-header {
  display: flex;
  justify-content: space-between;
}

.retro-body {
  border: solid #06F108;
  overflow-y: scroll;
  height: 275px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #005801ba;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #06F108;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00c303;
}

.exit {
  border: solid #06F108;
  padding: 0 8px 0 8px;
}

/* MEDIA QUERY */

@media (max-width: 820px) {
  .banner {
    align-items: center;
  }

  .wide-screen {
    height: 100%;
  }

  .menu-item {
    font-size: 27px;
  }

  .retro-window {
    width: 100%;
  }

  .retro-body {
    height: 250px;
  }

  .windows-layout {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
